@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.__Montserrat_4e7de0,
.__Montserrat_Fallback_4e7de0 {
  font-family: 'Montserrat', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell,
    'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

*,
*::before,
*::after { box-sizing: border-box; }

html, body, #root { 
  height: 100%; 
  width: 100%;
  overflow-x: hidden;
}

#root {
  background: #F3F4F6;
  position: relative;
}

body {
  margin: 0;
  color: #111827;
  background: #F3F4F6;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell,
    'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
  position: relative;
}

/* Мобильная адаптация */
@media only screen and (max-width: 767px) {
  html, body {
    overflow-x: hidden !important;
    width: 100% !important;
    max-width: 100vw !important;
  }
  
  #root {
    width: 100% !important;
    max-width: 100vw !important;
    overflow-x: hidden !important;
  }
}

a { color: inherit; text-decoration: none; }

button, input { font: inherit; }


